body {
  font-family: "Montserrat", sans-serif;
}

header {
  height: 100vh;

  color: white;
  background-image: url(img.jpeg);
}

h1 {
  font-size: 80px;
}
.links {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 200px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.main-container {
  display: grid;
  justify-items: center;
  gap: 50px;
}
article {
  height: 100vh;
}
h2 {
  font-size: 50px;
}
.info-container {
  background-color: #e8e9eb;
  border-radius: 20px;
  padding: 100px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
}
p {
  font-size: 28px;
}
li {
  list-style: none;
  line-height: 2;
}
